.carousel-button {
    background: black;
    margin-bottom: 3%;
    left: 36%;
    height: 9%;
    padding: 1%;
    border-radius: 5%;
    font-family: monospace;
    font-size: large;
    width: 30%;
    border: none;
}